@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
body {
  margin: 0;
  padding: 0;
  background: url(../images/iframe_background.jpg);
  background-size: cover;
  overflow: hidden; }

*:focus:not(.focus-visible) {
  outline: none; }

.dialogueOptionsContainer {
  position: absolute;
  left: 5%;
  top: 9%; }

.dialogueOptionsContainer button {
  min-height: 50px;
  border: none;
  text-align: left;
  background: transparent;
  cursor: pointer;
  transition: all 0.15s ease-in;
  position: absolute;
  top: 0;
  left: 0; }

.dialogueOptionsContainer button:hover {
  filter: brightness(0.9); }

.dialogueOptionsContainer button span {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Bangers', cursive;
  font-size: 24px;
  color: #4d4d4d;
  z-index: 5;
  padding: 10px 20px;
  min-width: 230px;
  max-width: 350px; }

.dialogueOptionsContainer button span:before, .dialogueOptionsContainer button span:after {
  bottom: -41px;
  right: 14%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #e6e6e6;
  border-width: 25px;
  margin-left: -25px;
  transform: scaleX(0.3) scaleY(0.7) skewX(24deg);
  z-index: 3;
  opacity: 0;
  transition: 0.15s ease-in all; }

.dialogueOptionsContainer button span:after {
  bottom: -46px;
  border-top-color: #4d4d4d;
  z-index: 2; }

.dialogueOptionsContainer button:before, .dialogueOptionsContainer button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 103%;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 5px; }

.dialogueOptionsContainer button:before {
  background: #e6e6e6;
  z-index: 2; }

.dialogueOptionsContainer button:after {
  top: 4px;
  background-color: #4d4d4d;
  z-index: 1; }

.dialogueOptionsContainer button:nth-child(1) {
  transform: translateY(0px); }

.dialogueOptionsContainer button:nth-child(2) {
  transform: translateY(93px); }

.dialogueOptionsContainer button:nth-child(3) {
  transform: translateY(185px); }

.dialogueOptionsContainer:not([class*="selected"]):not(:empty):before {
  content: "Choose reply:";
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: 14px;
  color: white;
  width: 321px;
  font-weight: bold;
  text-align: center; }

.dialogueOptionsContainer.selected0 button, .dialogueOptionsContainer.selected1 button, .dialogueOptionsContainer.selected2 button {
  opacity: 0;
  pointer-events: none;
  filter: brightness(60%); }

.dialogueOptionsContainer.selected0 button:nth-child(1) {
  transform: translateY(58px) translateX(50px);
  opacity: 1; }

.dialogueOptionsContainer.selected0 button:nth-child(1) span:before, .dialogueOptionsContainer.selected0 button:nth-child(1) span:after {
  opacity: 1; }

.dialogueOptionsContainer.selected1 button:nth-child(2) {
  transform: translateY(58px) translateX(50px);
  opacity: 1;
  pointer-events: none; }

.dialogueOptionsContainer.selected1 button:nth-child(2) span:before, .dialogueOptionsContainer.selected1 button:nth-child(2) span:after {
  opacity: 1; }

.dialogueOptionsContainer.selected2 button:nth-child(3) {
  transform: translateY(58px) translateX(50px);
  opacity: 1; }

.dialogueOptionsContainer.selected2 button:nth-child(3) span:before, .dialogueOptionsContainer.selected2 button:nth-child(3) span:after {
  opacity: 1; }

.label {
  position: absolute;
  top: 0px;
  left: 0;
  background: #e6e6e6;
  font-size: 14px;
  padding: 4px 6px;
  font-weight: bold;
  font-family: arial;
  z-index: 1;
  opacity: 0.6; }
