@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #7bcdcb 0%, #7bcdcb 50%, #b3c636 50%, #b3c636 100%);
  margin: 0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}

body .end{
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-out;
  transition-delay: 3.5s;
}

body.ended .end{
  opacity: 1;
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0.5) 2px, transparent 1%),
  url(../images/bg.gif);
  background-size: 3px 2px, cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  button{
    position: relative;
  }

  button span{
    min-width: auto;
    font-family: sans-serif, "arial";
  }
}


*:focus:not(.focus-visible) {
  outline: none;
}

#fit_container{
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 1200px;
}

#aspect_ratio_box{
  height: 0;
  overflow: hidden;
  padding-bottom:   1275px / 2354px * 100%;
  width: 100%;
  position: relative;
  margin-top: -90px;
}

#container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo {
  position: absolute;
  display: block;
  width: 133px;
  height: 133px;
  left: 84px;
  top: 95px;
  z-index: 10;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.shoutout{
  position: absolute;
  z-index: 10;
  right: 25px;
  bottom: 15px;
  width: 500px;
  color: white;
  font-size: 14px;
}

.shoutout a.ekologo {
  position: relative;
  top: 4px;
  color: hsla(0,0%,100%,0);
  font-size: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/ekoengineering_logo.svg);
  margin: 0 6px;
}

.shoutout a.ekologo span {
  padding-left: 5px;
  font-size: 16px;
}

iframe{
  position: absolute;
  top: 11.6%;
  left: 33%;
  width: 27.3%;
  height: 45.3%;
}

.description {
  position: absolute;
  display: block;
  width: 284px;
  left: 27px;
  top: 239px;
  z-index: 10;
  font-size: 18px;
  //text-shadow: 2px 2px 27px black;
  color: black;
}


.dialogueOptionsContainer{
  position: absolute;
  left: 65%;
  top: 15%;
}

button{
  min-height: 50px;
  border: none;
  text-align: left;
  background: transparent;
  cursor: pointer;
  transition: all 0.15s ease-in;
  margin-bottom: 25px;
  position: absolute;
  top: 0;
  left: 0;

  &:hover{
    filter: brightness(1.1);
  }

  span{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Neucha', cursive;
    font-size: 24px;
    color: white;
    z-index: 5;
    padding: 10px 12px;
    min-width: 320px;

    &:before, &:after{
      bottom: -41px;
      left: 14%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #52b3b5;
      border-width: 25px;
      margin-left: -25px;
      transform: scaleX(0.3) scaleY(0.7) skewX(-24deg);
      z-index: 3;
      opacity: 0;
      transition: 0.15s ease-in all;
    }

    &:after {
      bottom: -46px;
      border-top-color: #037777;
      z-index: 2;
    }

  }


  &:before, &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 5px;
  }

  &:before{
    background: #52b3b5;
    z-index: 2;
  }

  &:after{
    top: 4px;
    background-color: #037777;
    z-index: 1;
  }

  &:nth-child(1){
    transform: translateY(0px);
  }

  &:nth-child(2){
    transform: translateY(85px);
  }

  &:nth-child(3){
    transform: translateY(170px);
  }
}

.dialogueOptionsContainer.selected0, .dialogueOptionsContainer.selected1, .dialogueOptionsContainer.selected2{
  button{
    opacity: 0;
    pointer-events: none;
    filter: brightness(60%);
  }
}

.dialogueOptionsContainer.selected0{
  button:nth-child(1){
    transform: translateY(170px);
    opacity: 1;

    span:before, span:after{
      opacity: 1;
    }
  }
}

.dialogueOptionsContainer.selected1{
    button:nth-child(2){
    transform: translateY(170px);
    opacity: 1;
    pointer-events: none;

    span:before, span:after{
      opacity: 1;
    }
  }
}

.dialogueOptionsContainer.selected2{
  button:nth-child(3){
    transform: translateY(170px);
    opacity: 1;

    span:before, span:after{
      opacity: 1;
    }
  }
}

.label{
  position: absolute;
  top: 0px;
  left:0;
  background: #e6e6e6;
  font-size: 14px;
  padding: 4px 6px;
  font-weight: bold;
  font-family: arial;
  z-index: 1;
  opacity: 0.6;
}