@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@mixin shortAndWide {
  @media only screen and (max-height: 600px) {
    @content;
  }
}

html {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.label{
  position: absolute;
  top: 0;
  left:0;
  background: #e6e6e6;
  font-size: 12px;
  padding: 4px 6px;
  font-weight: bold;
  font-family: arial;
  color: black;
}

body.parent{
  height: 100%;
  background: black;
  display:flex;
  justify-content:center;
  align-items:center;
  color: white;


  iframe {
    height: 200px;
    width: 200px;
    border: none;
    pointer-events: none; /* no need for interaction */
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);

    /* center */
    margin: auto;
  }

  #topIframe {
    height: 312px;
    grid-row: 1;
    grid-column: 2;
  }

  #bottomContainer {
    width: 600px;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 0;
    display: flex;
  }

}

.container{
  position: relative;
  min-width: 70vw;
  border: 1px solid #22b573;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  @include shortAndWide{
    transform: scale(0.75);
  }

  .logo {
    position: absolute;
    display: block;
    width: 133px;
    height: 133px;
    left: 20px;
    top: 20px;
    z-index: 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  #gameMessage{
    font-family: ChessType;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: black;
    color: white;
    padding: 30px;
    border: 1px solid white;
    font-size: 40px;
    white-space: nowrap;
    text-align: center;
    z-index: 100;
    small{
      color: white;
      display: block;
      font-size: 20px;
    }
  }

  .description {
    position: absolute;
    display: block;
    width: 165px;
    left: 20px;
    top: 160px;
    z-index: 10;
    color: white;
    font-family: 'Raleway', sans-serif;
  }



  .footer{
    height: 100px;
    padding-top: 10px;
    border-top: 4px solid white;
    display: flex;
    align-items: flex-end;

    .controls {
      font-family: ChessType;
    }

    .credits{
      margin-left: auto;

      .ekologo{
        position: relative;
        top: 4px;
        color: hsla(0,0%,100%,0);
        font-size: 30px;
        background-image: url(../images/ekoengineering_logo.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 5px;

        span {
          padding-left: 5px;
          font-size: 16px;
        }

      }
    }

    .arrows{
      position: relative;
      vertical-align: bottom;
      margin-left: 9px;
    }


  }
}


body.child{
  color: white;
  overflow-y: hidden;

  #tetris{

    #menu{
      display: none;
      margin-top: 16px;
      margin-bottom: 15px;
    }

    #start{
      display: none;
    }

    #score {
      border: 2px solid white;
      font-family: ChessType;
      font-size: 24px;
      padding: 10px;
      height: 26px;
      margin-top: 20px;
    }

    #upcoming {
      margin: 0;
      background-color: black;
      border: 2px solid white;
      width: 78px;
      height: 78px;
      margin-left: auto;
    }


    .canvasContainer{
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;

      canvas{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 20px 20px,
        20px 20px;
        background-image:
                linear-gradient(to right, rgba(255,255,255, 1) 0px, transparent 1px),
                linear-gradient(to bottom, rgba(255,255,255, 1) 0px, transparent 1px);
        background-position: 0px 0px;
      }

      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;

        background-image:
                linear-gradient(to top, white 1px,  transparent 1px),
                linear-gradient(to bottom, white 1px,  transparent 1px),
                linear-gradient(to right, white 1px,  transparent 1px),
                linear-gradient(to left, white 1px,  transparent 1px);
        background-position: 0px 0px;
      }
    }
  }

}

@font-face {
  font-family: 'ChessType';
  font-style: normal;
  font-weight: normal;
  src: local('ChessType'), url('https://video.eko.com/s/sonorous/demos/track_mixer/ChessType.woff') format('woff');
}